image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/admission-gcp
  tag: latest
  pullPolicy: IfNotPresent
# priorityClassName: gardener-garden-system-400
replicaCount: 1
resources: {}
metricsPort: 8080
healthPort: 8081
vpa:
  enabled: true
  updatePolicy:
    updateMode: "Recreate"
webhookConfig:
  serverPort: 10250
# Kubeconfig to the target cluster. In-cluster configuration will be used if not specified.
kubeconfig:

# projectedKubeconfig:
#   baseMountPath: /var/run/secrets/gardener.cloud
#   genericKubeconfigSecretName: generic-token-kubeconfig
#   tokenSecretName: access-gcp-admission

serviceAccountTokenVolumeProjection:
  enabled: false
  expirationSeconds: 43200
  audience: ""
service:
  topologyAwareRouting:
    enabled: false

gardener:
  virtualCluster:
    enabled: true
    serviceAccount: {}
#     name: extension-admission-provider-gcp
#     namespace: garden
  runtimeCluster: {}
#   priorityClassName: gardener-garden-system-400

workloadIdentity:
  allowedTokenURLs: []
    # - https://sts.googleapis.com/v1/token
  allowedServiceAccountImpersonationURLRegExps: []
    # - ^https://iamcredentials\.googleapis\.com/v1/projects/-/serviceAccounts/.+:generateAccessToken$

backupBucket:
  allowedEndpointOverrideURLs: [] # example: [ "https://storage.googleapis.com/storage/v1/", "https://storage.me-central2.rep.googleapis.com/storage/v1/" ]
