replicas: 1
clusterName: shoot-foo-bar
kubernetesVersion: 1.27.5
podNetwork: 192.168.0.0/16
podAnnotations: {}
podLabels: {}
featureGates: {}
images:
  cloud-controller-manager: image-repository:image-tag
resources:
  requests:
    cpu: 100m
    memory: 75Mi
tlsCipherSuites: []
secrets:
  server: cloud-controller-manager-server

configureCloudRoutes: true

# TODO(rfranzke): Remove this field after August 2024.
gep19Monitoring: false

# IPAM configuration
nodeCIDRMaskSizeIPv4:

useWorkloadIdentityToken: false
