images:
  csi-driver: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /csi/csi.sock
vpaEnabled: false

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      cpu: 20m
      memory: 50Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi

vpa:
  resourcePolicy:
    driver:
      maxAllowed:
        cpu: 2
        memory: 4G
    nodeDriverRegistrar:
      maxAllowed:
        cpu: 1
        memory: 3G
    livenessProbe:
      maxAllowed:
        cpu: 1
        memory: 3G
