replicas: 1
podAnnotations: {}

images:
  csi-driver-filestore: image-repository:image-tag
  csi-provisioner: image-repository:image-tag
  csi-attacher: image-repository:image-tag
  csi-snapshotter: image-repository:image-tag
  csi-resizer: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /var/lib/csi/sockets/pluginproxy
projectID: foo
zone: bar

resources:
  driver:
    requests:
      memory: 50Mi
  provisioner:
    requests:
      memory: 32Mi
  resizer:
    requests:
      memory: 32Mi
  livenessProbe:
    requests:
      memory: 32Mi

useWorkloadIdentity: false
